<h2>註冊</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                label: '信箱',
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                label: '密碼',
                required: true,
                hint: ("長度至少需 #{@minimum_password_length} 字元" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: '密碼確認',
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "註冊", class: 'btn-secondary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
