<div class="row center">
  <div class="col-md-6">
    <%= simple_form_for(@post) do |f| %>
      <%= f.input :title %>
      <%= f.input :brief %>
      <%= f.input :content %>
      <%= f.input :tag_list%>
      <%= f.input :image %>
      <%= f.button :submit, yield(:btn_text) %>
    <% end %>
  </div>
</div>
