<div class="card-columns">
  <% @posts.each do |post| %>
    <div class="card">
      <%= image_tag(post.image, alt: 'IMAGE')%>
      <div class="card-body">
        <h6 class="card-title"><%= post.title %></h6>
        <small class="card-text"><%= post.brief %></small>
      </div>
      <div class="card-footer">
        <%= link_to '查看更多', post_path(post), class: "btn btn-sm btn-secondary" %>
      </div>
    </div>
  <% end %>
    <%= paginate @posts %>
</div>
