<div class="content_wrapper">
  <%= image_tag(@post.image ,alt: 'IMAGE')%>
  <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>
  <p><%= @post.user.email %></p>
  <small><%= @post.created_at.localtime.strftime("撰寫於 %F ") %></small>
  <br>
  <% @post.tag_list.each do |tag_name| %>
    <small><%= "##{tag_name}" %></small>
  <% end %>
  <br>
  <% if user_signed_in? && post_owner? %>
    <%= link_to '編輯', edit_post_path(@post) %>
    <%= link_to '刪除', post_path(@post), method: :delete, data: {confirm: "刪除?"} %>
  <% end %>
</div>
