/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.

 @import "bootstrap";

html, body {
  height: 100%;
}

.container-fluid {
  height: 100%;
  .row{
   min-height: 100%;
  }
}

 #main{
   background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
   padding-top: 4rem;
   text-align: center;
 }

 #category{
   padding-top: 3.5rem;
   background-color: $gray-300;
   color: $gray-900;
   text-align: center;
   a {
     color: $gray-900;
     &:hover {
       color: white;
     }
   }
 }

 .card{
   opacity: 0.7;
   transition: 1s;
   &:hover {
     opacity: 1;
   }
   img{
     width: 100%;
     border-radius: 0.3em;
   }
 }

 .content_wrapper{
   color: white;
   opacity: 0.9;
   a {
     color: $gray-800;
   }
   img{
     width: 80%;
     border-radius: 0.3em;
   }
 }

 .center{
   justify-content: center;
 }

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}
