<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
    </header>

    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-9" id="main">
          <% flash.each do |type, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-#{type}",id: 'flash') %>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-md-3" id="category" >
          <nav class="navbar flex-column">
            <% Post.tag_counts.each do |tag|%>
            <%= link_to "##{tag.name}", posts_path(tag_selected: tag.name) %>
            <% end %>
          </nav>
        </div>
      </div>
    </main>
  </body>
</html>
